*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #272727;
}
.card-container{
    height: 100vh;
    width: 100vw;

}
.card{
    height: 350px;
    width:250px;
    /* background: white; */
    margin: 30px;
    border-radius:10px ;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    perspective: 1000px;
}
.card-inner{
    height: 100%;
    width: 100%;
    transition:  1s;
    transform-style: preserve-3d;
}
.card-inner .card-front{
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    background: url(Asset/Image/image1.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.card-inner .card-front h1{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .2rem;
    font-size: 35px;
}
.card-inner .card-front p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-inner .card-front a button{
    height: 30px;
    width: 180px;
    margin-bottom: 10px;
    background: 
    rgba(255, 255, 255, 0.253);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1.5px solid white;
    cursor: pointer;
    box-shadow: 0 0 10px slateblue;
    backdrop-filter: blur(3px);
    transition:all .2s ease-in-out;
    
}
.card-inner .card-front a button:hover{
    background-color: rgba(0, 255, 255, 0.39);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.39) ;
    transition:all .2s ease-in-out;
}
.card-inner .card-back{
    height: 100%;
    width: 100%;
    background: url(Asset/Image/2150937419.jpg);
    background-position: center center;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateY(180deg);
}
.card-inner .card-back .card-bacck-in{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgba(46, 46, 46, 0.322);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card-inner .card-back .card-bacck-in h1{
    color: white;
}
.card-inner .card-back .card-bacck-in p{
    text-align: center;
    padding: 0 15px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}
.card-bacck-in .stat{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.card-bacck-in .stat .col{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-bacck-in .stat .col::after{
    position: absolute;
    content: '';
    height: 30px;
    width: 2px;
    margin-left: 80px;
    background: white;
}
.card-bacck-in .stat .col:last-child::after{
    display: none;
}
.card-bacck-in .stat .col h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
.social-icon{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
}
.social-icon > .icon{
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}
.social-icon .icon a{
    color:white;
    /* #34BC54 */
}
.social-icon .icon .bx{
    font-size: 24px;
}
.social-icon .linkedin:hover{
    border: 1px solid #0077B5;
    transition: all .3s ease-in-out
}
.social-icon .linkedin:hover .bx{
    color:#0077B5 ;
    transition: all .3s ease-in-out
}
.social-icon .github:hover{
    border: 1px solid #34BC54;
    transition: all .3s ease-in-out
}
.social-icon .github:hover .bx{
    color:#34BC54 ;
    transition: all .3s ease-in-out
}


.card:hover .card-inner{
    transform:rotateY(180deg) ;
    transition:  .5s;
}